@model siteNetCore31.Domain.Entities.Service
@{
    ViewBag.Title = Model.H1 != null ? $"{Model.H1} - Редактировать" : "Создать новую услугу";
}
<script src="~/js/ckeditor4/ckeditor.js"></script>

<form asp-area="Admin" asp-controller="Services" asp-action="Edit" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.Image" />
    <input type="hidden" asp-for="@Model.Category" />
    <div>
        <label asp-for="Url"></label>
        <input asp-for="Url" />
        <span asp-validation-for="Url"></span>
    </div>
    <div>
        <label asp-for="H1"></label>
        <input asp-for="H1" />
        <span asp-validation-for="H1"></span>
    </div>
    <div>
        <label asp-for="ShortDescription"></label>
        <input asp-for="ShortDescription" />
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div>
        <label asp-for="Category"></label>zz
        <select asp-for="Category.Id" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="Category"></span>
    </div>
    <div>
        <label asp-for="Image"></label>
        <input type="file" asp-for="Image" />
        <span asp-validation-for="Image"></span>
        <span class="image featured"><img src="~/images/@Model.Image" alt="@Model.H1"></span>
    </div>
    <div>
        <label asp-for="Text"></label>
        <textarea asp-for="Text"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <hr />
    <div>
        <label asp-for="seoTitle"></label>
        <input asp-for="seoTitle" />
        <span asp-validation-for="seoTitle"></span>
    </div>
    <div>
        <label asp-for="seoDescription"></label>
        <input asp-for="seoDescription" />
        <span asp-validation-for="seoDescription"></span>
    </div>
    <input style="margin-top: 1em" type="submit" class="button" value="Сохранить" />
</form>

<script>
    CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
</script>