@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
}
else
{
    <title>@Config.CompanyName</title>
    <meta property="og:title" content="@Config.CompanyName" />
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:description" content="@ViewBag.Description" />
}
else
{
    <meta name="description" content="@Config.CompanyName" />
    <meta property="og:description" content="@Config.CompanyName" />
}
@if (ViewBag.Image != null)
{
    <meta property="og:image" content="@ViewBag.Image" />
}
else
{
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}/images/square-noimage.png")" />
}
<meta property="og:type" content="article" />
<meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />