@model Category
@{
    Layout = "_LayoutNoSidebar";
    var services = ViewBag.Services as IQueryable<Service>;
}
<header class="major">
    <h1>@Model.H1</h1>
</header>
<p>@Html.Raw(Model.Text)</p>

@if(services.Any())
{

    @foreach (var item in services)
    {
        <article class="box excerpt">
            <a asp-area="" asp-controller="Home" asp-action="Service" asp-route-id="@item.Url" asp-route-category="@item.Category.Url" class="image left"><img src="/images/services/square-@item.Image" alt="@item.H1" /></a>
            <div>
                <header>
                    <span class="date">@item.DateCreated.ToString("dd MMM")</span>
                    <h3><a asp-area="" asp-controller="Home" asp-action="Service" asp-route-id="@item.Url" asp-route-category="@item.Category.Url">@item.H1</a></h3>
                </header>
                <p>
                    @item.ShortDescription
                </p>
            </div>
        </article>
    }

}