@model Service
@{
    Layout = "_LayoutLeftSidebar";
    ViewBag.Title = Model.seoTitle;
    ViewBag.Description = Model.seoDescription;
    ViewBag.Image = Model.Image == null ? $"{Context.Request.Scheme}://{Context.Request.Host}/images/square-noimage.png" : $"{Context.Request.Scheme}://{Context.Request.Host}/images/square-{Model.Image}";
}

<header class="major">
    <h1>@Model.H1</h1>
    <p>@Model.ShortDescription</p>
</header>
@{
    var image = Model.Image == null ? "noimage.png" : Model.Image;
}
<span class="image featured"><img src="~/images/@image" alt="@Model.H1" /></span>
<p>@Html.Raw(Model.Text)</p>

<script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "Article",
  "headline": "@Model.H1",
  "description": "@Model.ShortDescription",
  "image": "@ViewBag.Image),
  "author": {
    "@@type": "Organization",
    "name": "@Config.CompanyName"
  },  
  "publisher": {
    "@@type": "Organization",
    "name": "@Config.CompanyName",
    "logo": {
      "@@type": "ImageObject",
      "url": "@($"{Context.Request.Scheme}://{Context.Request.Host}/images/logo.png")",
      "width": 166,
      "height": 33
    }
  },
  "datePublished": "@Model.DateCreated.ToString("yyy-MM-dd")",
  "dateModified": "@Model.DateUpdated.ToString("yyy-MM-dd")"
}
</script>