@model Service
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = Model.seoTitle;
    ViewBag.Description = Model.seoDescription;
    ViewBag.Image = Model.Image == null ? $"{Context.Request.Scheme}://{Context.Request.Host}/images/square-noimage.png" : $"{Context.Request.Scheme}://{Context.Request.Host}/images/square-{Model.Image}";
    var image = Model.Image == null ? "noimage.png" : Model.Image;

}

    <div class="post-item">
        <div class="post-item-wrap">
            <div class="post-image">
                <a href="#">
                    <img src="/images/services/@image" alt="@Model.H1">
                </a>
            </div>
            <div class="post-item-description">
                <h1>@Model.H1</h1>
                <div class="post-meta">
                    <span class="post-meta-category"></span>
                    <div class="breadcrumb float-left">
                        <ul itemscope itemtype="https://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a itemprop="item" href="/"><span itemprop="name">Главная</span></a>
                                <meta itemprop="position" content="0">
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="@Model.Category.Url" itemprop="item"><span itemprop="name">@(String.IsNullOrEmpty(Model.Category.MenuName) ? Model.Category.H1 : Model.Category.MenuName)</span></a>
                                <meta itemprop="position" content="1">
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span> </button>
                    <strong><i class="fa fa-check-circle"></i> Внимание!</strong> Вы можете заказать данную услугу позвонив по номеру телефона @Config.CompanyPhone
                </div>
                <p>@Html.Raw(Model.Text)</p>
            </div>
        </div>
    </div> 

<script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "Article",
  "headline": "@Model.H1",
  "description": "@Model.ShortDescription",
  "image": "@ViewBag.Image),
  "author": {
    "@@type": "Organization",
    "name": "@Config.CompanyName"
  },  
  "publisher": {
    "@@type": "Organization",
    "name": "@Config.CompanyName",
    "logo": {
      "@@type": "ImageObject",
      "url": "@($"{Context.Request.Scheme}://{Context.Request.Host}/images/logo.png")",
      "width": 166,
      "height": 33
    }
  },
  "datePublished": "@Model.DateCreated.ToString("yyy-MM-dd")",
  "dateModified": "@Model.DateUpdated.ToString("yyy-MM-dd")"
}
</script>