@model siteNetCore31.Domain.Repsitories.DataManager
@{
    Layout = "_LayoutNoSidebar";
    var Pages = Model.Pages.GetPages();
    var Services = Model.Services.GetServices().OrderByDescending(x => x.DateUpdated);
    var Categories = Model.Categories.GetCategories();
}

<section id="page-title" data-bg-parallax="/images/admin.jpg">
    <div class="container">
        <div class="page-title">
            <h1>Панель администратора</h1>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-light btn-shadow">Выйти</button>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h4>Страницы (@Pages.Count()) <a asp-area="Admin" asp-controller="Pages" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h4>
        @if (Pages.Any())
        {
            @foreach (var item in Pages)
            {
                <div class="row">
                    <div class="col-lg-3"><a asp-area="" asp-controller="Home" asp-action="Info" asp-route-Id="@item.Url"><b class="text-uppercase">@item.H1</b></a></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <a class="btn" asp-area="Admin" asp-controller="Pages" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-cog"></i> Редактировать</a>
                    </div>
                    <div class="col-lg-3">
                        @if (item.Url != "index")
                        {
                            <form id="form-@item.Id" asp-area="Admin" asp-controller="Pages" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <a data-toggle="tooltip" data-placement="right" title="" data-original-title="Данное действие отменить нельзя!" class="btn btn-outline" href="#" onclick="document.getElementById('form-@item.Id').submit();">
                                    <i class="fa fa-trash"></i><an>
                                    </an>
                                </a>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
</section>

<section>
    <div class="container">
        <h4>Категории (@Categories.Count()) <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h4>
        @if (Categories.Any())
        {
            @foreach (var item in Categories)
            {
                <div class="row">
                    <div class="col-lg-3"><a asp-area="" asp-controller="Home" asp-action="Category" asp-route-Id="@item.Url"><b class="text-uppercase">@item.H1</b></a></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <a class="btn" asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-cog"></i> Редактировать</a>
                    </div>
                    <div class="col-lg-3">
                        <form id="form-@item.Id" asp-area="Admin" asp-controller="Categories" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <a data-toggle="tooltip" data-placement="right" title="" data-original-title="Данное действие отменить нельзя!" class="btn btn-outline" href="#" onclick="document.getElementById('form-@item.Id').submit();">
                                <i class="fa fa-trash"></i><an>
                                </an>
                            </a>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</section>

<section>
    <div class="container">
        <h4>Услуги (@Services.Count()) <a asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h4>
        @if (Services.Any())
        {
            @foreach (var item in Services)
            {
                <div class="row">
                    <div class="col-lg-3">
                        <a asp-area="" asp-controller="Home" asp-action="Service" asp-route-id="@item.Url" asp-route-category="@(String.IsNullOrEmpty(item.Category.Url) ? "" : item.Category.Url)"><b class="text-uppercase">@item.H1</b></a>
                        <mark>@(String.IsNullOrEmpty(item.Category.H1) ? "Без категории" : item.Category.H1)</mark>
                    </div>
                    <div class="col-lg-3">
                        @{
                            var image = item.Image == null ? "noimage.png" : item.Image;
                        }
                        <img src="/images/services/mini-@image" />
                    </div>
                    <div class="col-lg-3">
                        <a class="btn" asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-cog"></i> Редактировать</a>
                    </div>
                    <div class="col-lg-3">
                        <form id="form-@item.Id" asp-area="Admin" asp-controller="Services" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <a data-toggle="tooltip" data-placement="right" title="" data-original-title="Данное действие отменить нельзя!" class="btn btn-outline" href="#" onclick="document.getElementById('form-@item.Id').submit();">
                                <i class="fa fa-trash"></i><an>
                                </an>
                            </a>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</section>
<script src="~/js/popper.min.js" asp-append-version="true"></script>