@model siteNetCore31.Domain.Repsitories.DataManager
@{
    Layout = "_LayoutNoSidebar";
    var Pages = Model.Pages.GetPages();
    var Services = Model.Services.GetServices().OrderByDescending(x=>x.DateUpdated);
    var Categories = Model.Categories.GetCategories();
}
<h1>Панель Администратора</h1>

<table>
    <tr>
        <td><h3>Страницы (@Pages.Count()) <a asp-area="Admin" asp-controller="Pages" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h3></td>
        <td></td>
        <td></td>
    </tr>
    @if (Pages.Any())
    {

        @foreach (var item in Pages)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Info" asp-route-id="@item.Url"><h4 style="margin: 0">@item.H1</h4></a>
                </td>
                <td style="width: 1%">
                    <a asp-area="Admin" asp-controller="Pages" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td style="width: 1%; padding-left: 20px;">
                    @if (item.Url != "index")
                    {
                        <form id="form-@item.Id" asp-area="Admin" asp-controller="Pages" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <a href="#" onclick="document.getElementById('form-@item.Id').submit();">Удалить</a>
                        </form>
                    }
                </td>
            </tr>
        }
    }
</table>
<hr />
<table>
    <tr>
        <td><h3>Категории (@Categories.Count()) <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h3></td>
        <td></td>
        <td></td>
    </tr>
    @if (Categories.Any())
    {

        @foreach (var item in Categories)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Category" asp-route-id="@item.Url"><h4 style="margin: 0">@item.H1</h4></a>
                </td>
                <td style="width: 1%;">
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td style="width: 1%; padding-left: 20px;">
                    @if (item.Url != "default")
                    {
                        <form id="form-@item.Id" asp-area="Admin" asp-controller="Categories" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <a href="#" onclick="document.getElementById('form-@item.Id').submit();">Удалить</a>
                        </form>
                    }
                </td>
            </tr>
        }
    }
</table>
<hr />
<table>
    <tr>
        <td><h3>Услуги (@Categories.Count()) <a asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-Id=""><i style="font-size: 16px; color: lightgray; margin: 0 0 7px 10px;" class="fas fa-plus"></i></a></h3></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @if (Services.Any())
    {
        @foreach (var item in Services)
        {
            <tr>
                <td style="width: 180px;">
                    @{ 
                        var image = item.Image == null ? "no_image.png" : item.Image;
                    }
                    <img style="height: 35px; width: 78px;" src="/images/services/mini-@image" />
                </td>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Service" asp-route-id="@item.Url" asp-route-category="@(String.IsNullOrEmpty(item.Category.Url) ? "" : item.Category.Url)"><h4 style="margin: 0">@item.H1</h4></a><h4 style="margin: 0; font-weight: lighter;">@(String.IsNullOrEmpty(item.Category.H1) ? "Без категории" : item.Category.H1)</h4>
                </td>
                <td style="width: 1%;">
                    <a asp-area="Admin" asp-controller="Services" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td style="width: 1%; padding-left: 20px;">
                    <form id="form-@item.Id" asp-area="Admin" asp-controller="Services" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <a href="#" onclick="document.getElementById('form-@item.Id').submit();">Удалить</a>
                    </form>
                </td>
            </tr>
        }

    }
</table>

<form asp-controller="Account" asp-action="Logout" method="post">
    <input type="submit" class="button fa-check" value="Выйти" />
</form>