@model siteNetCore31.Domain.Repsitories.DataManager
@{ 
    var Pages = Model.Pages.GetPages();
    var Services = Model.Services.GetServices();
    var Categories = Model.Categories.GetCategories();
}
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">О Компании</div>
                        <p class="mb-5">Описание компании</p>
                        <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923" class="btn btn-inverted" target="_blank">Консультация</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Информация</div>
                                <ul class="list">
                                    @foreach (Page item in Pages)
                                    {
                                        <li><a asp-area="" asp-controller="Home" asp-action="Page" asp-route-id="@item.Url">@(String.IsNullOrEmpty(item.MenuName) ? item.H1 : item.MenuName)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        @foreach (var category in Categories)
                        {
                            <div class="col-lg-3">
                                <div class="widget">
                                    <div class="widget-title">@(String.IsNullOrEmpty(category.MenuName) ? category.H1 : category.MenuName)</div>
                                    <ul class="list">
                                        @foreach (var item in Services.Where(x => x.Category.Id == category.Id))
                                        {
                                            <li><a asp-area="" asp-controller="Home" asp-action="Service" asp-route-category="@item.Category.Url" asp-route-id="@item.Url">@(String.IsNullOrEmpty(item.MenuName) ? item.H1 : item.MenuName)</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>